
.title{
    color: #cc423d;
    text-align: center;
    margin-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.Binging-With-Babish-Image{
width: 1280px;
height: 720px;
margin-left: 20%;
}

.Lospollos{
    width: 640px;
    height: 460px;
    margin-top: 2.5%;
    margin-left: 38%;
}

.Pizza{
    width: 640 px; 
    height: 460 px;
    margin-top: 2.5%;
    margin-left:38%;
}

.lasagna{
    width: 640px;
    height: 460px;
    margin-top: 2.5%;
    margin-left:38%;
}
.pizza-p{
    text-align: center;
}

.pollos-p
{
    text-align: center;
}
.lasagna-p{
    text-align: center;
}
/*This is the portion of the css code that I am 
centering and turning a random colour, for the unorder list */
.subtitles{
    text-align: center;
    color: #d5f00e;
}

.unordered{ 
    list-style-type: none;
    padding: 0;
}

.unordered li{
    text-align: center;
}

.unordered li::before {
    content: "• ";
    color: #0356fc;
}
/*This is the portion of the css code that I am centering and turning a random colour, 
for the ordered list*/

.ordered{
    list-style: none;
    counter-reset: item;
}
.ordered li {
    counter-increment: item;
    margin-bottom: 5px;
    text-align: center;
}

.ordered li::before{
    margin-right: 10px;
    content:counter(item)' .';
    color: red;
    width:1.2em;
    text-align: center;
    display: inline-block;
}


.links{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cc423d;
    margin-left: 45%;
}

body{
    background-color: #373c42;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}