
.title{
    color: #cc423d;
    text-align: center;
    margin-top: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #373c42;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.Lospollos{
    width: 640px;
    height: 460px;
    margin-top: 2.5%;
    margin-left: 38%;
}

.Pizza{
    width: 640 px; 
    height: 460 px;
    margin-top: 2.5%;
    margin-left:38%;
}

.lasagna{
    width: 640px;
    height: 460px;
    margin: 0 auto;
    display: block;
}
.pizza-p{
    text-align: center;
}

.pollos-p
{
    text-align: center;
}
.lasagna-p{
    border: 2px yellow double;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    padding: 20px;
}
/*This is the portion of the css code that I am 
centering and turning a random colour, for the unorder list */
.subtitles{
    text-align: center;
    color: #d5f00e;
}

.sub-ingredients{
    text-align: center;
    color: #d5f00e;
}
.sub-lasagna{
    text-align: center;
    color: #d5f00e;
}

.parent{
    text-align: center;
}

.child .methods{
    display: inline-block;
    vertical-align: middle;
}

.methods{
    border: #d5f00e 2px double;
    width: 900px;
    height: 800px;
}
.methods .sub-methods{
    text-align: center;
    color: #d5f00e;
}

.unordered{ 
    list-style-type: none;
    padding: 0;
}

.unordered li{
    text-align: center;
}

.unordered li::before {
    content: "• ";
    color: #0356fc;
}
/*This is the portion of the css code that I am centering and turning a random colour, 
for the ordered list*/

.ordered{
    list-style: none;
    counter-reset: item;
    display: inline;
}
.ordered li {
    counter-increment: item;
    margin-bottom: 5px;
    text-align: center;
}

.ordered li::before{
    margin-right: 10px;
    content:counter(item)' .';
    color: red;
    width:1.2em;
    text-align: center;
    display: inline-block;
}


.links{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cc423d;
    margin-left: 45%;
}

.recipe-card{
    width: 1000px;
    height: 900px;
    border: 2px yellow double;
    margin: 0 auto;
}

.ingredients{
    width: 400px;
    height: 600px;
    border: 2px yellow double;
}

.child .ingredients{
    display: inline-block;
    vertical-align: middle;
}


